[bumpversion]
current_version = 1.38.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = repository-manager[mcp]>={current_version}
replace = repository-manager[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = repository-manager[agent]>={current_version}
replace = repository-manager[agent]>={new_version}

[bumpversion:file:repository_manager/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:repository_manager/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:repository_manager/repository_manager.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
